* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#msgAlert {
    position: absolute; 
    top: 0;
    width: 100%;
}

.container-content-pengaduan{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid red; */
    height: 90vh;
    max-height: 90vh;
    overflow: auto;
}
.container-upload-file{
    /* border: solid blue; */
    width: 80%;
    height: 30vh;
    max-height: 30vh;
    display: flex;
    align-items: center;
    /* justify-self: center; */
}
#drop-area{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 20px;
    /* border: solid green; */
}
#img-view{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background-color: #f7f8ff;
    /* cursor: pointer; */
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.container-form-pengaduan{
    /* border: solid greenyellow; */
    width: 80%;
    height: 43vh;
    /* overflow: hidden; */
    /* display: flex;
    justify-content: center; */
}
.form-group{
    /* border: solid green; */
    width: 100%;
    color: #000;
    display: flex;
    flex-direction: column;

    height: 43vh;
    /* margin: 2%; */
}
.form-group .form-control{
    width: 100%;
    height: 40px;
    margin-top: 7%;
    /* margin: 2%; */
    /* padding: 5px; */
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group .form-control::placeholder{
    color: #000;
    font-weight: 500;
}
.form-group .form-control:focus{
    outline: none;
    border: 1px solid #000;
}
.form-group #deskripsi{
    width: 99.5%;
    border-radius: 5px;
    padding: 2%;
    height: 20vh;
    color: #000;
    font-weight: 500;
    /* border: solid red; */
    border: 1px solid #ccc;

    margin-top: 7%;
}
.form-group #deskripsi::placeholder{
    color: #000;
}
.form-group #deskripsi:focus{
    outline: none;
    border: 1px solid #000;
}
.container-button-pengaduan{
    /* border: solid yellow; */
    width: 100%;
    /* height: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-kirim{
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 6px 16px;
    width: 35%;
    /* background-color: rgb(101, 202, 209); */
    background-color: #03848F;
    border-radius:6px;
    /* margin: 14px; */
    border: .1px solid grey;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-kirim:hover{
    background: #CDF0F3;
}

/* validation akun */
.belumLogin{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-belumlogin{
    height: 70vh;
    width: 95%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(118, 118, 118, 0.147);
    box-shadow:  0.5em 0.1em 1em rgb(0, 0, 0);
    
}
.container-regist{
    padding: 2% 5%;
    height: 20vh;
    width: 80%;
    border-radius: 6px;
    background-color: #03848F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 5%;
    border: .1px solid grey;
    transition: 0.8s;
    color: white;
    text-align: center;
}   
.container-log{
    border: .1px solid grey;
    background-color: #03848F;
    color: white;
    padding: 2% 5%;
    height: 20vh;
    width: 80%;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s;
}  
.temp-cont {
    background-color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    border-radius:  20px;
    transition: .5s;
}
.temp-cont a{
    text-decoration: none;
    color: #03848F;
}
   
    .container-regist .temp-cont a:hover, .container-log .temp-cont a:hover{
    color: #fff;
    transition: 0.5s;
    background-color: #65CAD1;
    width: 100%;
    height: 5vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
