<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akun</title>
        <!-- bootstrap -->
        <link href="../../Style/bootstrap/bootstrap.min.css" rel="stylesheet">


        <link rel="stylesheet" href="../../Style/validationAccount/validationAccount-style.css">        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Patrick+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    
        <style>
            * {
                font-family: 'Quicksand', 'Amaranth', cursive, Arial, sans-serif;
            }
    
            html {
                scroll-behavior: smooth;
            }
        </style>
    
        
    
        <link rel="website icon" type="png" href="../../Image/logo.jpg">

</head>
<body>
    <div class="belumLogin" id="belumLogin">
        <div class="container-belumlogin">
            <div class="container-regist">
                <p>silahkan Login terlebih dahulu</p>
                <div class="temp-cont">
                    <a href="">Register</a>
                </div>
            </div>
            <!-- <br><br> -->
            <div class="container-log">
                <p>Sudah Punya Akun?</p>
                <div class="temp-cont">
                    <a href="">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>