* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container-edu{
    /* border: solid red; */
    width: 100%;
    display: flex;
    height: 78vh;
    max-height: 79vh;
    justify-content: center;
    /* align-items: center; */
    overflow: auto;
}
.content-edu{
    /* background-color: bisque; */
    width: 90%;
    /* height: 100%;
    max-height: 100%; */

}
.row-edu{
    /* border: 1px solid black; */
    width: 100%;
    background-color: #CDF0F3;
    /* height: 100%; */
    height: 17vh;
    margin: 5% 0;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    align-items: center;
    /* overflow: auto; */
    transition: 0.2s;
}

a:hover .row-edu, a:hover .row-edu h6{
    background-color: #03848F;
    /* color: white; */
    transform: scale(0.99);
    /* border: solid black; */
}


.gambar-content{
    /* border: solid black; */
    display: flex;
    width: 40%;
    /* height: fit-content; */
    /* margin-right: 2%; */
}
.gambar-content img{
    width: 100%;
    border: 0.1px solid grey;
    max-height: 17vh;
    height: 17vh;
}
.content-edu-h6{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 57%;
    /* height: 100%; */
    /* border: 0.1px solid grey; */
    overflow: auto;
    text-decoration: none;
    height: 17vh;
    max-height: 17vh;
    padding: 3%;
    /* margin: 1% 1% 0 2%; */
}
.content-edu a{
    text-decoration: none;

}
.content-edu-h6 h6{
    font-size: 13px;
    text-transform: capitalize;
    text-align: justify;
    color: black;
    font-weight: bold;
}
